header{
  background-image: url("../images/artichoke.jpeg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
 align-items: center;
}